@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
  background: #141414;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  overflow: hidden;
}


h1 {
  color: white;
}

.bike-img {
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 9.5px;
}


.parent-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  height: 99.55vh;
  width: 90vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 83vh 7vh;
  gap: 0px 0px;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 50px;
  letter-spacing: 20px;
}

.main {
  display: flex;
  justify-content: center;
  grid-area: main;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
}

.link {
  color: white;
  text-decoration: underline;
  position: relative;
  left: 10px;
  top: 4.5px;
  font-size: 20px;
}
