@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
  background: #141414;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}


h1 {
  color: white;
}

.parent-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  height: 99.55vh;
  width: 90vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10vh 80vh 9.5vh;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

.header {
  border: 1px solid white;
  grid-area: header;
}

.main {
  border: 1px solid green;
  grid-area: main;
}

.footer {
  border: 1px solid pink;
  grid-area: footer;
}